<h2 class="subtitle clearfix">
  <% if @recommendations.size > 0 %>
    <% if @user.spotify_playlist_id %>
      <form action="/playlists" method="POST">
        <% @recommendations.each do |track| %>
          <input type="hidden" name="track_uris[]" value="<%= track.uri %>">
        <% end %>
        <button type="submit" class="js-submit-button button pull-right is-info">
          <i class="fa fa-refresh" aria-hidden="true"></i>
          Sync Playlist
        </button>
      </form>
    <% else %>
      <a href="#create-playlist-modal" class="button pull-right is-info js-trigger-modal">
        <i class="fa fa-plus" aria-hidden="true"></i>
        Save Playlist
      </a>
    <% end %>
  <% end %>
  Recommended Tracks
  <a href="#adjust-recommendations-modal" class="adjust-recommendations-trigger js-trigger-modal">
    <i class="fa fa-cog"></i>
  </a>
</h2>
<p>Based on what you&rsquo;ve been listening to, here are some similar songs:</p>
<ul class="recommendations-list tracks-list">
  <% @recommendations.each do |track| %>
    <li>
      <%= erb :track, locals: { track: track } %>
    </li>
  <% end %>
</ul>

<% if @recommendations.size > 0 %>
  <div class="modal" id="create-playlist-modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">
          New Playlist
          <small>
            (<%= @recommendations.size %> track<%= 's' if @recommendations.size > 1 %>)
          </small>
        </p>
        <button class="modal-close js-modal-close"></button>
      </header>
      <form action="/playlists" method="POST">
        <section class="modal-card-body">
          <div class="content">
            <p>
              A new playlist called &ldquo;<%= @playlist_name %>&rdquo; will be
              created with the following tracks:
            </p>
            <ol class="playlist-track-list">
              <% @recommendations.each do |track| %>
                <li>
                  <input type="hidden" name="track_uris[]" value="<%= track.uri %>">
                  <strong><%= track.name %></strong>
                  by <%= track.artist_names %>
                </li>
              <% end %>
            </ol>
          </div>
        </section>
        <footer class="modal-card-foot">
          <button class="js-submit-button button is-primary" type="submit">
            Save Playlist
          </button>
          <button class="button is-link js-modal-close" type="button">
            Cancel
          </button>
        </footer>
      </form>
    </div>
  </div>
<% end %>

<div class="modal" id="adjust-recommendations-modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">
        Song Recommendations
      </p>
      <button class="modal-close js-modal-close"></button>
    </header>
    <form class="js-remote-form" data-target-id="recommendations-container" action="/recommendations" method="POST">
      <input type="hidden" name="before_time" value="<%= @before_time %>">
      <section class="modal-card-body has-tabs">
        <div class="tabs">
          <ul>
            <li class="is-active"><a class="js-switch-tab" href="#seeds-tab">Seeds</a></li>
            <li><a class="js-switch-tab" href="#audio-features-tab">Audio features</a></li>
          </ul>
        </div>
        <div class="tab is-active" id="seeds-tab">
          <p class="clearfix">
            <span data-max="<%= @max_seeds %>" data-suffix="remaining" class="pull-right js-seed-count-remaining"><%= @seeds_remaining %> remaining</span>
            Find songs based on:
          </p>
          <div class="columns">
            <div class="column is-5">
              <ul class="seeds-list">
                <li><strong>Artists:</strong></li>
                <% @artist_names_by_id.each do |artist_id, artist_name| %>
                  <% is_checked = @seed_artist_ids.include?(artist_id) %>
                  <li>
                    <label class="checkbox" for="seed-artist-<%= artist_id %>">
                      <input <% if @seeds_remaining < 1 && !is_checked %>disabled<% end %> class="js-seed-checkbox" id="seed-artist-<%= artist_id %>" <% if is_checked %>checked<% end %> type="checkbox" value="<%= artist_id %>" name="artist_ids[]">&nbsp;<%= artist_name %>
                    </label>
                  </li>
                <% end %>
              </ul>
            </div>
            <div class="column is-7">
              <ul class="seeds-list">
                <li><strong>Songs:</strong></li>
                <% @tracks.each do |track| %>
                  <% is_checked = @seed_track_ids.include?(track.id) %>
                  <li>
                    <label class="checkbox" for="seed-track-<%= track.id %>">
                      <input <% if @seeds_remaining < 1 && !is_checked %>disabled<% end %> class="js-seed-checkbox" id="seed-track-<%= track.id %>" <% if is_checked %>checked<% end %> type="checkbox" value="<%= track.id %>" name="track_ids[]">&nbsp;<%= track.name %> by <%= track.artist_names %>
                    </label>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <div class="tab" id="audio-features-tab">
          <p>
            Adjust these audio features to change which songs
            are recommended:
          </p>
          <% @features.each do |feature| %>
            <div class="control is-horizontal">
              <div class="control-label">
                <label class="label" for="<%= feature %>"><%= @feature_labels[feature] %></label>
              </div>
              <div class="control">
                <span class="feature-range-min">0%</span>
                <input name="<%= feature %>" id="<%= feature %>" value="<%= @feature_values[feature] %>" type="range" min="0" max="1" step="0.05" class="slider">
                <span class="feature-range-max">100%</span>
              </div>
            </div>
          <% end %>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-primary" type="submit">
          Get New Songs
        </button>
        <button class="button is-link js-modal-close" type="button">
          Cancel
        </button>
      </footer>
    </form>
  </div>
</div>
