<div class="box">
  <article class="media">
    <% if track.image_url %>
      <div class="media-left">
        <figure class="image">
          <a href="<%= track.url %>" target="_blank" rel="noopener noreferrer">
            <img src="<%= track.image_url %>" alt="" width="<%= track.image_width %>" height="<%= track.image_height %>">
          </a>
        </figure>
      </div>
    <% end %>
    <div class="media-content content">
      <strong class="track-name">
        <a href="<%= track.url %>" target="_blank" rel="noopener noreferrer"><%= track.name %></a>
      </strong>
      <br>
      <span class="track-artists">
        by
        <strong>
          <% track.artists.each_with_index do |artist, i| %>
            <a href="<%= artist.url %>" target="_blank" rel="noopener noreferrer"><%= artist.name %></a><%= ',' if i < track.artist_count - 1 %>
          <% end %>
        </strong>
      </span>
      <% if track.played_at %>
        &mdash; <span class="track-play-time"><%= track.formatted_played_at %></span>
      <% end %>
    </div>
  </article>
</div>
