<div class="js-track-info-container">
  <article class="media">
    <% if big_image && track.big_image_url %>
      <div class="media-left track-image-container">
        <figure class="image">
          <button class="button is-image js-track-info-toggle" type="button">
            <img class="big-track-image" src="<%= track.big_image_url %>" alt="" width="<%= track.big_image_width %>" height="<%= track.big_image_height %>">
          </button>
        </figure>
      </div>
    <% elsif !big_image && track.small_image_url %>
      <div class="media-left track-image-container">
        <figure class="image">
          <button class="button is-image js-track-info-toggle" type="button">
            <img class="small-track-image" src="<%= track.small_image_url %>" alt="" width="<%= track.small_image_width %>" height="<%= track.small_image_height %>">
          </button>
        </figure>
      </div>
    <% end %>
    <div class="<%= 'big-track-info' if big_image %> media-content content track-info js-track-info">
      <strong class="track-name">
        <a href="<%= track.url %>" target="_blank" rel="noopener noreferrer"><%= track.name %></a>
      </strong>
      <br>
      <span class="track-artists">
        by
        <strong>
          <% track.artists.each_with_index do |artist, i| %>
            <a href="<%= artist.url %>" target="_blank" rel="noopener noreferrer"><%= artist.name %></a><%= ',' if i < track.artist_count - 1 %>
          <% end %>
        </strong>
      </span>
      <% if track.played_at %>
        &mdash; <span class="track-play-time"><%= track.formatted_played_at %></span>
      <% end %>
    </div>
  </article>
</div>
