<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <nav class="nav">
        <div class="nav-left">
          <a class="title nav-item" href="/user/<%= @user.to_param %>">
            Perpetuaspotify
          </a>
        </div>
        <div class="nav-right nav-menu">
          <a href="/logout" class="nav-item">
            <% if @user.icon_url %>
              <span class="icon">
                <img src="<%= @user.icon_url %>" alt="" class="user-icon">
              </span>
            <% end %>
            Log out <%= @user.user_name %>
          </a>
        </div>
      </nav>
      <p class="subtitle">
        Make a playlist inspired by your recent tracks. Listen to it. Repeat.
      </p>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <% if @error %>
      <div class="notification is-danger">
        <button class="delete js-hide-notification"></button>
        <%= @error %>
      </div>
    <% end %>
    <% if @playlist_url %>
      <div class="notification is-success">
        <button class="delete js-hide-notification"></button>
        Playlist
        <a href="<%= @playlist_url %>" target="_blank" rel="noopener noreferrer"><%= @playlist_name %></a>
        has been updated!
      </div>
    <% end %>
    <div class="content">
      <div class="columns">
        <div class="column">
          <h2 class="subtitle">Recently Played</h2>
          <p>This is what you&rsquo;ve been listening to on Spotify:</p>
          <ul class="recently-played-list tracks-list">
            <% @tracks.each do |track| %>
              <li>
                <%= erb :track, locals: { track: track } %>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="column">
          <h2 class="subtitle clearfix">
            <% if @recommendations.size > 0 %>
              <a href="#create-playlist-modal" class="button pull-right is-info js-trigger-modal">
                <% if @user.spotify_playlist_id %>
                  Replace Playlist
                <% else %>
                  Create Playlist
                <% end %>
              </a>
            <% end %>
            Recommended Tracks
          </h2>
          <p>Based on what you&rsquo;ve been listening to, here are some similar songs:</p>
          <ul class="recommendations-list tracks-list">
            <% @recommendations.each do |track| %>
              <li>
                <%= erb :track, locals: { track: track } %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<% if @recommendations.size > 0 %>
  <div class="modal" id="create-playlist-modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">
          <% if @user.spotify_playlist_id %>
            Replace
          <% else %>
            New
          <% end %>
          Playlist
          <small>
            (<%= @recommendations.size %> track<%= 's' if @recommendations.size > 1 %>)
          </small>
        </p>
        <button class="modal-close js-modal-close"></button>
      </header>
      <form action="/playlists" method="POST">
        <section class="modal-card-body">
          <div class="content">
            <p>
              <% if @user.spotify_playlist_id %>
                Your &ldquo;<%= @playlist_name %>&rdquo; playlist will be replaced
                with the following tracks:
              <% else %>
                A new playlist called &ldquo;<%= @playlist_name %>&rdquo; will be
                created with the following tracks:
              <% end %>
            </p>
            <ol class="playlist-track-list">
              <% @recommendations.each do |track| %>
                <li>
                  <input type="hidden" name="track_uris[]" value="<%= track.uri %>">
                  <strong><%= track.name %></strong>
                  by <%= track.artist_names %>
                </li>
              <% end %>
            </ol>
          </div>
        </section>
        <footer class="modal-card-foot">
          <button class="button is-primary" type="submit">
            Save Playlist
          </button>
          <button class="button is-link js-modal-close" type="button">
            Cancel
          </button>
        </footer>
      </form>
    </div>
  </div>
<% end %>
