<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <nav class="nav">
        <div class="nav-left">
          <a class="title nav-item" href="/user/<%= @user.to_param %>">
            Perpetuaspotify
          </a>
        </div>
        <div class="nav-right nav-menu">
          <a href="/logout" class="nav-item">
            <% if @user.icon_url %>
              <span class="icon">
                <img src="<%= @user.icon_url %>" alt="" class="user-icon">
              </span>
            <% end %>
            Log out <%= @user.user_name %>
          </a>
        </div>
      </nav>
      <p class="subtitle">
        Make a playlist inspired by your recent tracks. Listen to it. Repeat.
      </p>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <% if @error %>
      <div class="notification is-danger">
        <button class="delete js-hide-notification"></button>
        <%= @error %>
      </div>
    <% end %>
    <% if @playlist_url %>
      <div class="notification is-success">
        <button class="delete js-hide-notification"></button>
        Playlist
        <a href="<%= @playlist_url %>" target="_blank" rel="noopener noreferrer"><%= @playlist_name %></a>
        has been updated!
      </div>
    <% end %>
    <div class="content">
      <div class="columns">
        <div class="column">
          <h2 class="subtitle">Recently Played</h2>
          <p>This is what you&rsquo;ve been listening to on Spotify:</p>
          <ul class="recently-played-list tracks-list">
            <% @tracks.each do |track| %>
              <li>
                <%= erb :track, locals: { track: track } %>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="column" id="recommendations-container">
          <%= erb :recommendations %>
        </div>
      </div>
    </div>
  </div>
</section>
