<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <nav class="nav">
        <div class="nav-left">
          <a class="title" href="/user/<%= @user.to_param %>">
            Perpetuaspotify
          </a>
        </div>
        <div class="nav-right nav-menu">
          <a href="/logout" class="nav-item">
            Log out <%= @user.user_name %>
          </a>
        </div>
      </nav>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-two-thirds is-offset-2">
        <ul class="recently-played-list">
          <% @recently_played.each do |track| %>
            <li>
              <div class="box">
                <article class="media">
                  <% if track.image_url %>
                    <div class="media-left">
                      <figure class="image">
                        <img src="<%= track.image_url %>" alt="" width="<%= track.image_width %>" height="<%= track.image_height %>">
                      </figure>
                    </div>
                  <% end %>
                  <div class="media-content content">
                    <strong>
                      <a href="<%= track.url %>" target="_blank" rel="noopener noreferrer"><%= track.name %></a>
                      by
                      <% track.artists.each_with_index do |artist, i| %>
                        <a href="<%= artist.url %>" target="_blank" rel="noopener noreferrer"><%= artist.name %></a><%= ',' if i < track.artist_count - 1 %>
                      <% end %>
                    </strong>
                    <small><%= track.formatted_played_at %></small><br>
                    <% track.audio_features.each do |feature, value| %>
                      <%= feature %>: <%= value %> &middot;
                    <% end %>
                  </div>
                </article>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</section>
