<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <nav class="nav">
        <div class="nav-left">
          <a class="title" href="/user/<%= @user.to_param %>">
            Perpetuaspotify
          </a>
        </div>
        <div class="nav-right nav-menu">
          <a href="/logout" class="nav-item">
            Log out <%= @user.user_name %>
          </a>
        </div>
      </nav>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h2 class="subtitle">Recently Played</h2>
        <ul class="recently-played-list tracks-list">
          <% @tracks.each do |track| %>
            <li>
              <%= erb :track, locals: { track: track } %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="column">
        <h2 class="subtitle">
          Recommended Tracks &mdash;
          <a href="#create-playlist-modal" class="js-trigger-modal">Create Playlist</a>
        </h2>
        <ul class="recommendations-list tracks-list">
          <% @recommendations.each do |track| %>
            <li>
              <%= erb :track, locals: { track: track } %>
            </li>
          <% end %>
        </ul>
        <div class="modal" id="create-playlist-modal">
          <div class="modal-background"></div>
          <div class="modal-content">
            <ol>
              <% @recommendations.each do |track| %>
                <li>
                  <%= erb :track, locals: { track: track } %>
                </li>
              <% end %>
            </ol>
          </div>
          <button class="modal-close"></button>
        </div>
      </div>
    </div>
  </div>
</section>
